# misc
.DS_Store
**/.DS_Store
.zed/
*.pem

# Dependency directories
node_modules/
jspm_packages/
.pnp.*

# Optional npm cache directory
.npm

# testing
/coverage

# production
/build

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
